.name-section {
    display: block;

    &__title {
        font-size: 4rem;
        font-weight: 400;

        &--span {
            color: rgba(140,168,184);
        }
    }

    &__description {
        font-size: 1.8rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}